include _mixins
doctype html
html(svef-load-state='initial-loading')
  include _head

  body
    block background
      .background
        include ../../img/swirl.svg
        footer
          //- a(href='http://svef.is' target='_blank')
          include ../../img/logo-svef.svg

    main
      block header

      block content

      block footer

    block javascript
      if flags.env === 'production'
        script(src='js/project.js')
        script require(['project']);
      else
        script(data-main='js/project' src='js/vendor/require.js')
