extends shared/_layout

block content
  section
    .row.align-center
      .column.large-8.text-center
        h1 Tilnefningar til Íslensku vefverðlaunanna 2015
        p Lorem ipsum Do et est et ad in elit cupidatat magna consectetur eu ut proident ea dolore eu minim ullamco reprehenderit exercitation amet Duis sed dolor ullamco enim consectetur anim officia Duis consequat dolore in.

  section
    .row.align-center
      .column.small-12.medium-6.large-5.text-center
        h2 Heiti flokks
        p: a(href='#_') Fyrsta
        p: a(href='#_') Annað
        p: a(href='#_') Þriðja
        p: a(href='#_') Fjórða
      .column.small-12.medium-6.large-5.text-center
        h2 Heiti flokks
        p: a(href='#_') Fyrsta
        p: a(href='#_') Annað
        p: a(href='#_') Þriðja
        p: a(href='#_') Fjórða
      .column.small-12.medium-6.large-5.text-center
        h2 Heiti flokks
        p: a(href='#_') Fyrsta
        p: a(href='#_') Annað
        p: a(href='#_') Þriðja
        p: a(href='#_') Fjórða
      .column.small-12.medium-6.large-5.text-center
        h2 Heiti flokks
        p: a(href='#_') Fyrsta
        p: a(href='#_') Annað
        p: a(href='#_') Þriðja
        p: a(href='#_') Fjórða
      .column.small-12.medium-6.large-5.text-center
        h2 Heiti flokks
        p: a(href='#_') Fyrsta
        p: a(href='#_') Annað
        p: a(href='#_') Þriðja
        p: a(href='#_') Fjórða
      .column.small-12.medium-6.large-5.text-center
        h2 Heiti flokks
        p: a(href='#_') Fyrsta
        p: a(href='#_') Annað
        p: a(href='#_') Þriðja
        p: a(href='#_') Fjórða
