
.svg-logo {
  width: 65px;
  height: auto;

  path {
    fill: $color-svef-green;
  }
}

.svg-logo-letters {
  width: 169px;
  height: auto;
}

.svg-logo-2015-landscape {
  width: 379px;
  height: 100%;
}

.svg-logo-svef {
  width: 486px;
  height: auto;

  path {
    fill: $color-svef-orange;
  }
}

.svg-swirl {
  width: 65px;
  height: auto;

  path {
    fill: $color-svef-green;
  }
}
